<% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <% res.redirect('/') %>
  <% } %>
  
  <%- messages() %>
<body>
  <form action="/account/login" method="post">
    <p>You are logged-in</p>
  </form>
</body>