<body>
    <main>
        <h1> Welcome to CSE Motors! </h1>
        <p>Three cups <br> doors fuzzy <br>! Wow! </p>
        <button id="ownToday">Own Today</button>
        <img  id='deloreanImage' src="/images/vehicles/delorean.jpg" alt="Picture of something weird">
        <div id='upgradesGrid'>
        <div> 
            <h2>Delorean Upgrades</h2>
            <ul id="upgradeList" > 
                <li class="upgradeItem">
                    <img src="/images/upgrades/flux-cap.png" alt="Picture of something weird">
                    <a href="potato">Flux Capacitor</a>
                </li>
                <li class="upgradeItem">
                    <img src="/images/upgrades/flame.jpg" alt="Picture of Fire">
                    <a href="potato">Flame Decals</a>
                </li>
                <li class="upgradeItem">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Picture of sticker">
                    <a href="potato">Bumper Stickers</a>
                </li>
                <li class="upgradeItem">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Picture of A Hub Cap">
                    <a href="potato">Hub Caps</a>
                </li>
            </ul>
        </div>
        <div>
            <h2>DMC Delorean Reviews</h2>
            <ul> 
                <li>So fast its like going in time 8/10 </li>
                <li> So cool ride on the road 9/10</li>
                <li>Im feeling Marty Mcfly! 8/10 </li>
                <li> So future ride yay 7/10 </li>
            </ul>
        </div>
        </div>
    
    </main>
    <footer>

    </footer>
</body>
</html>